@import 'tailwindcss';
@plugin "@tailwindcss/typography";

/* Custom Class */
@layer utilities {
  .font-arial {
    font-family: Arial, Helvetica, sans-serif;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #43006a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@theme {
  --color-primary: #00a49f;
  --color-secondary: #43006a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #000;
  }
}

h1 {
  color: #00a49f !important;
}

h2 {
  color: #43006a !important;
}
h3 {
  color: #43006aa6 !important;
}

.custom-gradient-bg {
  @apply bg-no-repeat bg-cover;
  background-image: linear-gradient(180deg, #3e0065 11.13%, rgba(62, 0, 101, 0) 35.42%),
    linear-gradient(90deg, #3e0065 0%, rgba(120, 77, 147, 0.698936) 41.69%, rgba(255, 255, 255, 0) 100%);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

/* Slick Carousel Bar Navigation */
.slick-bar .slick-dots li {
  width: 50px;
  margin: 0 2px;
}
.slick-bar .slick-dots li.slick-active div {
  background-color: #43006a;
}

.slick-bar.case .slick-dots li.slick-active div {
  background-color: #00a49f;
}

/* Team Carousel */
.team-caousel .slick-dots {
  width: auto;
  left: 60px;
}

.team-caousel .slick-dots li {
  width: auto;
  height: auto;
}

.team-caousel .slick-dots li.slick-active div {
  background: #00a49f;
}

.about .team-caousel .slick-dots li.slick-active div {
  background: #43006a;
}

/* For Rich Text */
.richText {
  line-height: 1.6;
  margin-bottom: 2rem;
}

.richText h2 {
  font-size: 1.8rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.richText h3 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}

.richText p {
  margin-bottom: 1rem;
}

.richText ul,
.richText ol {
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

.richText a {
  color: #0070f3;
  text-decoration: none;
}

.richText a:hover {
  text-decoration: underline;
}

/* Modal */
.ReactModal__Overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 9999 !important;
  background: #0000005c !important;
}

.ReactModal__Content {
  position: absolute;
  border-radius: 25px !important;
  max-height: 90vh;
  height: 900px;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1200px;
  border: none !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  z-index: 999 !important;
  background: #fff;
  overflow: auto !important;
  scrollbar-width: none !important;
}

.ReactModal__Content::-webkit-scrollbar {
  display: none !important;
  -ms-overflow-style: none !important;
}
.ReactModal__Content::-webkit-scrollbar-thumb {
  background-color: transparent !important;
}

/* Chat bot */
.bpw-header-container {
  background: var(--primary-color) !important;
  border: none;
  color: white;
}

.bp-widget-web:focus-visible {
  outline: none !important;
}

.bpHeaderContainer {
  background-color: red !important;
}

/* Header image */
@media screen and (min-width: 1200px) {
}

.perspective {
  perspective: 1000px;
}

.transform-style {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

/* Custom CSS For Cookie */
.cky-consent-container {
  font-family: 'Poppins', sans-serif !important;
}
