@import 'tailwindcss';

/* Custom Class */
@layer utilities {
  .font-arial {
    font-family: Arial, Helvetica, sans-serif;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@theme {
  --color-primary: #00a49f;
  --color-secondary: #43006a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

/* Slick Carousel Bar Navigation */
.slick-bar .slick-dots li {
  width: 50px;
  margin: 0 2px;
}
.slick-bar .slick-dots li.slick-active div {
  background-color: #43006a;
}

.slick-bar.case .slick-dots li.slick-active div {
  background-color: #00a49f;
}

/* Team Carousel */
.team-caousel .slick-dots {
  width: auto;
  left: 60px;
}

.team-caousel .slick-dots li {
  width: auto;
  height: auto;
}

.team-caousel .slick-dots li.slick-active div {
  background: #00a49f;
}

.about .team-caousel .slick-dots li.slick-active div {
  background: #43006a;
}
